<link href="~/Content/ProductDisplaynFooter.css" rel="stylesheet" />

@if (Session["UserId"] != null && @Session["Role"].ToString() == "user")
{
    @Html.Partial("user_navbar")
}
else if (Session["UserId"] != null && @Session["Role"].ToString() == "Admin")
{
    @Html.Partial("admin_navbar")
}
    
else
{
    @Html.Partial("common_navbar")
}

<div id = "demo" class="carousel slide" data-ride="carousel">

<!-- Indicators -->
<ul class="carousel-indicators">
<li data-target="#demo" data-slide-to="0" class="active"></li>
<li data-target="#demo" data-slide-to="1"></li>
<li data-target="#demo" data-slide-to="2"></li>
<li data-target="#demo" data-slide-to="3"></li>
<li data-target="#demo" data-slide-to="4"></li>
</ul>

<!-- The slideshow -->
<div class="carousel-inner">
<div class="carousel-item active">
<img style = " height:350px ;width:100% " src="../IMAGES/pic5.jpg" alt="HAPPY RETAIL">
</div>
<div class="carousel-item">
<img style = " height:350px ;width:100% " src="../IMAGES/Appliances.png" alt="HAPPY RETAIL">
</div>
<div class="carousel-item">
<img style = " height:350px ;width:100% " src="../IMAGES/clearnc.png" alt="HAPPY RETAIL">
</div>
<div class="carousel-item">
<img style = " height:350px ;width:100% " src="../IMAGES/deal.jpg" alt="HAPPY RETAIL">
</div>
<div class="carousel-item">
<img style = " height:350px ;width:100% " src="../IMAGES/diwalisale.png" alt="HAPPY RETAIL">
</div>
</div>

<!-- Left and right controls -->
<a class="carousel-control-prev" href="#demo" data-slide="prev">
<span class="fa fa-chevron-circle-left"></span>
</a>
<a class="right carousel-control-next" href="#demo" data-slide="next">
<span class="fa fa-chevron-right"></span>
</a>

</div>


<div class="row">
<div class="col-md-12">
<div class="page-header">
<h2><small></small></h2>
</div>
</div>
</div>

<div class="row product-container">

<div class="col-md-3 col-sm-3 col-xs-6 card" style="margin-bottom:8px">
<a href = "/Product/Search?ProductName=electronics" >



<div class="thumbnail product-item" style="height:250px">

<img class="img-responsive" title="Click to View Product detail"
     style="cursor:pointer;height:160px;width:100%"
     src="~/IMAGES/pic6.jpg" />

<div class="caption">
    <h5>Electronics</h5>
@*<p>500.00 ৳.</p>*@
                <p>Offer zone</p>
                <div class="product-item-badge">New Arrivals</div>
            </div>
        </div>
            </a>
    </div>

    <div class="col-md-3 col-sm-3 col-xs-6 card" style="margin-bottom:8px">
        <div class="thumbnail product-item" style="height:250px">

            <img class="img-responsive" title="Click to View Product detail"
                 style="cursor:pointer;height:160px;width:100%"
                 src="~/IMAGES/Appliances.png" />

            <div class="caption">
                <h5>Appliances</h5>
@*<p>500.00 ৳.</p>*@
                <p>Clearance Sale</p>
                <div class="product-item-badge"style="color:yellow">Trending</div>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-3 col-xs-6 card" style="margin-bottom:8px;">
        <div class="thumbnail product-item" style="height:250px">

            <img class="img-responsive" title="Click to View Product detail"
                 style="cursor:pointer;height:160px;width:100%"
                 src="~/IMAGES/images.png" />

            <div class="caption">
                <h5>Fashion</h5>
@*<p>500.00 ৳.</p>*@
                <p>New Arrivals</p>
                <div class="product-item-badge">Flash Sale</div>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-3 col-xs-6 card" style="margin-bottom:8px;">
        <div class="thumbnail product-item" style="height:250px">
            <a href="/Product/Search?ProductName=smartphones">
                <img class="img-responsive" title="Click to View Product detail"
                     style="cursor:pointer;height:160px;width:100%"
                     src="~/IMAGES/pic6.jpg" />

                <div class="caption">
                    <h5>Mobile Phones</h5>
                    @*<p>500.00 ৳.</p>*@
                    <p>Mid Range</p>
                    <div class="product-item-badge">Buy Now</div>
                </div>
            </a>

        </div>
    </div>


    <div class="col-md-3 col-sm-3 col-xs-6 card" style="margin-bottom:8px;">
        <div class="thumbnail product-item" style="height:250px">
            <a href = "/Product/Search?ProductName=Fashion" >
            <img class="img-responsive" title="Click to View Product detail"
                 style="cursor:pointer;height:160px;width:100%"
                 src="~/IMAGES/pic5.jpg" />

            <div class="caption">
                <h5>Fashion</h5>
@*<p>500.00 ৳.</p>*@
                <p>Classic Collections</p>
                <div class="product-item-badge">Live Offer</div>
            </div>
                </a>
        </div>
        
    </div>

    <div class="col-md-3 col-sm-3 col-xs-6 card" style="margin-bottom:8px;">
        <div class="thumbnail product-item" style="height:250px">

            <img class="img-responsive" title="Click to View Product detail"
                 style="cursor:pointer;height:160px;width:100%"
                 src="~/IMAGES/pic4.jpg" />

            <div class="caption">
                <h5>Laptops</h5>
        @*<p>500.00 ৳.</p>*@
<p>Latest Gadgets</p>
<div class="product-item-badge">Limited Offer</div>
            </div>
        </div>
    </div>

</div>


