@model IEnumerable<Retail_Management_System.Models.Product>

@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_background")
@if (Session["UserId"] != null)
{
    @Html.Partial("user_navbar")
}
else
{
    @Html.Partial("common_navbar")
}


@if (!string.IsNullOrEmpty(ViewBag.Error))
{
    <div class="alert-danger">@ViewBag.Error</div>
}
else
{
    <form method="get" action="/Product/Filter" class="form-inline m-2">
        <div class="col-md-10">
            @{
                List<SelectListItem> listItems = new List<SelectListItem>();
                listItems.Add(new SelectListItem
                {
                    Text = "Category",
                    Value = "Category"
                });
                listItems.Add(new SelectListItem
                {
                    Text = "Brand",
                    Value = "Brand"
                });
                listItems.Add(new SelectListItem
                {
                    Text = "Age",
                    Value = "Age"
                });
                listItems.Add(new SelectListItem
                {
                    Text = "Gender",
                    Value = "Gender"
                });

            }
            @Html.DropDownList("Filter", listItems, new { @class = "form-control fa fa-filter" })
            <input type="submit" value="Filter" class="btn btn-dark btn-sm" />
        </div>
    </form>
    if (Model.ToList().Count == 0)
    {
        <div class="alert-info">No products found. Search for another product!</div>
    }
    else
    {
        <br />
        <div class="row mr-3 ">

            @foreach (var item in Model)
            {
                <div class="card col-3 mr-2 p-1">
                    <div class="card-header text-center">
                        @{ var img = item.Productid + ".jpg";}
                        <img src="~/Images/@img" width="50" />
                    </div>
                    <div class="card-header text-center">

                        @Html.DisplayFor(modelItem => item.ProductName)
                    </div>
                    <div class="font-weight-bold text-center" style="font-size:large">
                        @Html.DisplayFor(modelItem => item.BrandName)
                    </div>
                    <div class="card-body text-center">
                        @Html.DisplayFor(modelItem => item.Price) <br />
                        <span class="alert-info">@Html.DisplayFor(modelItem => item.Discount)% off</span>
                    </div>
                    <div class="card-footer text-center">
                        @Html.ActionLink("Details", "ProductView", new { ProductId = item.Productid }, new { @class = "btn btn-primary" })
                    </div>
                </div>
            }
        </div>
    }
}


