@model IEnumerable<Retail_Management_System.Models.Cart>

@{
    ViewBag.Title = "Confirm Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_background")
@Html.Partial("user_navbar")

<div class="d-flex justify-content-center">
    <div class="card w-50 p-4 mt-5 ">
        <p>
            Your Order will be delevered to - <br />
            <blockquote> @ViewBag.Address</blockquote>
        </p>
        


        <table class="table">
            <tr>
                <th colspan="3">
                    Review Your orders
                </th>

            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NoofProduct)
                    </td>
                    <td>
                        ₹@Html.DisplayFor(modelItem => item.Amount)
                    </td>

                </tr>
            }
        </table>
        <div class="d-flex justify-content-center mt-2">
            <p style="color:chocolate" class="d-flex justify-content-center">
                Do you want to change shipping adddres?
            @Html.ActionLink("Change Address", "PayAll", new { UserId = ViewBag.UserId, ProductId = ViewBag.ProductId }, new { @class = " btn btn-primary btn btn-sm" })
                </p>
        </div>
        <ul>Choose Payment Options</ul>
        <li>@Html.ActionLink("Credit Card or Debit Card", "CreditCard")</li>
        <li>@Html.ActionLink("Net Banking", "NetBanking")</li>
        <li>@Html.ActionLink("Cash On Delivery", "CashOnDelivery")</li>
        <li>@Html.ActionLink("UPI", "UPI")</li>


    </div>
</div>
<div class=" d-flex justify-content-center">
    <p class="mt-2">
        @Html.ActionLink("Back to Cart", "Cart", "User", null, new { @class = "btn btn-info btn-sm" })
    </p>
</div>
