@model Retail_Management_System.Models.Carddetails
@{
    ViewBag.Title = "CreditCard";
}
@Html.Partial("_background")
@Html.Partial("user_navbar")
<div class="d-flex justify-content-center">
    <div class="card w-25 p-4 mt-5 ">

        <h2 style="text-align:center">CreditCard</h2>
        <div>
            <table>
                <tr>
                    <td>
                        Card Type

                    </td>
                    <td>
                        @Html.DropDownListFor(model => model.CardType, new SelectList(Enum.GetValues(typeof(Retail_Management_System.Models.Carddetails.CardTypeName))), "Select Your Card", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CardType, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td>
                         @Html.LabelFor(model => model.CardName,htmlAttributes:new { @class="control-label "})
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.CardName, new { @class = "inputComn", @placeholder = "Name" })
                        @Html.ValidationMessageFor(model => model.CardName, "", new { @class = "text-danger" })

                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.cardnumber, htmlAttributes: new { @class = "control-label " })
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.cardnumber, new { @class = "inputComn", @placeholder = "Card Number" })
                        @Html.ValidationMessageFor(model => model.cardnumber, "", new { @class = "text-danger" })

                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.cvv, htmlAttributes: new { @class = "control-label" })

                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.cvv, new { @class = "inputComn", @placeholder = "cvv" })
                        @Html.ValidationMessageFor(model => model.cvv, "", new { @class = "text-danger" })


                    </td>
                </tr>
            </table>


        </div>
        <div class="d-flex justify-content-center mt-2">
            <a href="/product/confirmpayment" class="bctn btn-primary btn-sm"> Confirm Payment</a>

        </div>
        </div>
</div>