@model Retail_Management_System.Models.Carddetails

@{
    ViewBag.Title = "UPI";
}
@Html.Partial("_background")
@Html.Partial("user_navbar")


<div class="d-flex justify-content-center">
    <div class="card w-25 p-4 mt-5 ">
        <h3>UPI</h3>

        <label>
            Mobile Number* @Html.ValidationMessageFor(model => model.mobile)
        </label>
        @Html.TextBoxFor(model => model.mobile, new { @class = "inputComn", @placeholder = "Mobile Number" })
        @Html.ValidationMessageFor(model => model.mobile, "", new { @class = "text-danger" })


        <div class="d-flex justify-content-center mt-2">
            <a href="/product/confirmpayment" class="bctn btn-primary btn-sm"> Confirm Payment</a>
        </div>
    </div>

</div>