@model Retail_Management_System.Models.Admin

@{
    ViewBag.Title = "DetailsAdmin";
}

<div class="d-flex justify-content-center">


    <div class="card w-50 mt-4 ">
        <h2 style="text-align:center">Account Info</h2>

        <div>

            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Firstname)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Firstname)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Lastname)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Lastname)
                </dd>



                <dt>
                    @Html.DisplayNameFor(model => model.ContactNumber)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ContactNumber)
                </dd>

            </dl>
            <a href="/admin/editadmin" class="btn btn-dark btn-sm"><i class="fa fa-edit"></i> Back</a>
            </div>
        </div>
        </div>
        <p>
        </p>
        <div class="d-flex justify-content-center mt-2">
            <a href="/admin/index" class="btn btn-dark btn-sm"><i class="fa fa-backward"></i> Back</a>
        </div>
