@model IEnumerable<Retail_Management_System.Models.Product>

@Html.Partial("_background")
@Html.Partial("admin_navbar")

@{
    ViewBag.Title = "Index";
}


<h2>Index</h2>
<h2>Products</h2>

<div>


    <a href="/admin/create" class="btn btn-dark btn-sm"><i class="fa fa-plus"></i> Add Product</a>

</div>

<table class="table" style="color:black">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BrandName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        
        
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>

    <td>
        @Html.DisplayFor(modelItem => item.ProductName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CategoryName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.BrandName)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.Price)
    </td>

    <td>
    <td>
        <a href="/admin/edit?ProductId=@item.Productid" class="btn btn-info btn-sm"><i class="fa fa-edit"></i> Edit</a>
        <a href="/admin/details?ProductId=@item.Productid" class="btn btn-dark btn-sm"><i class="fa fa-edit"></i> Details</a>
        <a href="/admin/delete?ProductId=@item.Productid" class="btn btn-danger btn-sm"><i class="fa fa-remove"></i> Clear stock</a>
    </td>
    </td>
</tr>
    }

</table>
<div>
    <a href="/admin/CreateSupplier" class="btn btn-dark btn-sm"><i class="fa fa-plus"></i> Add Supplier</a>
    <a href="/admin/SupplierView" class="btn btn-dark btn-sm"><i class="fa fa-eye"></i> View Suppliers</a>


</div>
